.wrapInfo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #41a528;
    padding: 50px;
    border: 4px solid #88ff70;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #090909;
    z-index: 999;
}

.navButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 20px;
}

.navBtn {
  padding: 8px 16px;
  background: #2ecc71;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.navBtn:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.428);
}

.navBtn:disabled {
  background: gray;
  cursor: not-allowed;
  transform: none;
}

.closeBtn{
    position: absolute;
    top: 10px;
    left: 46.75%;
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.closeBtn:hover{
    transform: scale(1.2) rotate(360deg);
}