.wrapInfo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, - 50%);
    background: #ffffff;
    padding: 20px;
    border: 4px solid #090909;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #090909;
}