.title{
    font-size: 2rem;
    text-shadow: 0px 3px 20px #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    color: white;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2vh;
    padding: 20px;
    width: 100%;
}

.infoBtn{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    background-color: #02460d;
    border: none;
    border-radius: 10px;
    opacity: 0.9;
    transition: all 200ms ease-in-out;
}

.infoBtn:hover{
    cursor: pointer;
    opacity: 1;
    box-shadow: rgba(46, 240, 127, 0.4) -5px 5px, rgba(46, 240, 127, 0.3) -10px 10px, rgba(46, 240, 127, 0.2) -15px 15px, rgba(46, 240, 127, 0.1) -20px 20px, rgba(46, 240, 127, 0.05) -25px 25px;
}

@media (width >= 768px){
    .title{
        font-size: 4rem;
    }

}